<div>
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="https://yiqinglin.us19.list-manage.com/subscribe/post?u=e7c32fa7d700aa9aff0dc7158&amp;id=fc4513daba"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
      novalidate>
        <div class="seperator-positioner"> 
          <div class="seperator"></div>
        </div>
        <div id="newsletter">
        <div class="wrapper">
            <div>
              <h2>订阅博客更新</h2>
              <p>新文章发布后会自动投递到您的邮箱</p>
              <p class="promise">I promise I will not spam you.</p>
            </div>
            <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              <input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="button">
              <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
            </div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e7c32fa7d700aa9aff0dc7158_fc4513daba"
            tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
  <!--End mc_embed_signup-->
</div>