.content
  .book_cover
    height: 320px !important
    width: auto
    float: left

  .section-separator
    text-align: center
    font-size: 20px
    margin-top: 5px
    margin-bottom: 5px
    color: $color-quote

  @media (max-width: 700px)
    .book_cover
      width: 100%
      height: auto !important
